/* Reset default margin and padding */
body, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

/* Apply a basic font */
body {
  font-family: Arial, sans-serif;
}

/* Style the header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
    height: 80px;
  background-color: #ffffff; /* Change as needed */
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
  z-index: 1000; /* Ensure it's above other elements */
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
}

/* Style the logo */
.logo {
  flex: 1; /* Allow the logo to take available space */
    margin-left: 20px;
}

.logo h1 {
  font-size: 32px;
  color: #333333; /* Adjust text color */
  font-size: 2.3em;
  font-weight: bold;
  font-family: "Sofia", sans-serif;
}

.logo h1 span {
  color: #5073fb; /* Adjust the color of 'Pius' */
}

/* Style the user profile */
.user-profile {
  line-height: 0; /* Reset line-height */
  margin-left: auto; /* Push the user profile to the right */
    margin-right: 15px;
}

.user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Make the image round */
}
/* Style the dropdown */
.dropdown ul {
  list-style-type: none;
  display: none;
  position: absolute;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  right: 0;
}

.dropdown:hover ul {
  display: block;
}

.dropdown ul li {
  margin-bottom: 5px;
}

/* Style the containers */
.containers {
  display: flex;
  justify-content: space-between;
  padding-top: 110px; /* To ensure content doesn't hide under the fixed header */
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    overflow: hidden;
}

/* Style the individual containers */
.container, .container2 {
  width: 48%; /* Adjust the width as needed */
  padding: 20px;
  background-color: #f9f9f9; /* Light background color */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-top: 20px; /* Added margin to the top */
}
.container2{
    overflow-y: scroll;
}
/* Style the form inputs */
.tag1 {
  margin-bottom: 15px;
}

input[type="url"],
input[type="text"] {
  width: calc(100% - 20px); /* Adjust input width */
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

/* Style the buttons */
.button {
  text-align: center;
}

.btn {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #5073fb;
  color: #ffffff;
}

.btn:hover {
  background-color: #ff8533; /* Change the hover color */
}

/* Updated style for instructions */
.instructions {
  margin-left: 40px; /* Add margin to the left */
  margin-right: 40px; /* Add margin to the right */
  padding: 20px;
  border-radius: 5px;
}

.instructions h3 {
  font-size: 24px; /* Increased font size */
  font-weight: bold; /* Bold font weight */
  margin-bottom: 10px;
}

.instructions ul {
  list-style: none;
  padding-left: 0;
}

.instructions li {
  margin-bottom: 8px;
  color: #777777; /* Light color for instruction text */
}

/*.instructions li:before {*/
/*  !*content: counter(list);*!*/
/*  !*counter-increment: list;*!*/
/*  margin-right: 8px;*/
/*  font-weight: bold; !* Bold the instruction numbers *!*/
/*}*/
