*{
    margin: 0;
    padding: 0;
}
.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-container02 {
  width: 30%;
  height: 100%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #211A1D;
}
.home-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  color: rgb(255, 255, 255);
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.home-container04 {
  flex: 0 0 auto;
  width: 80%;
  height: 200px;
  margin: 25px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  border-radius: 30px;
  justify-content: center;
  background-color: #3a2b2b;
}
.home-container04:hover {
  background-color: #FC766A;
}
.home-text01 {
  color: rgb(255, 255, 255);
  width: auto;
  z-index: 1500;
  font-size: 30px;
  align-self: center;
  font-weight: 500;
  text-transform: capitalize;
}
.home-container05 {
  flex: 0 0 auto;
  width: 80%;
  height: 200px;
  margin: 25px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  border-radius: 30px;
  justify-content: center;
  background-color: #3a2b2b;
}
.home-container05:hover {
  background-color: #FC766A;
}
.home-text04 {
  color: rgb(255, 255, 255);
  width: auto;
  z-index: 1500;
  font-size: 30px;
  align-self: center;
  font-weight: 500;
  text-transform: capitalize;
}
.home-container06 {
  flex: 0 0 auto;
  width: 80%;
  height: 200px;
  margin: 25px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  border-radius: 30px;
  justify-content: center;
  background-color: #3a2b2b;
}
.home-container06:hover {
  background-color: #FC766A;
}
.home-text07 {
  color: rgb(255, 255, 255);
  width: auto;
  z-index: 1500;
  font-size: 30px;
  align-self: center;
  font-weight: 500;
  text-transform: capitalize;
}
.home-container07 {
  flex: 0 0 auto;
  width: 80%;
  height: 200px;
  margin: 25px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  border-radius: 30px;
  justify-content: center;
  background-color: #3a2b2b;
}
.home-container07:hover {
  background-color: #FC766A;
}
.home-text10 {
  color: rgb(255, 255, 255);
  width: auto;
  z-index: 1500;
  font-size: 30px;
  align-self: center;
  font-weight: 500;
  text-transform: capitalize;
}
.home-container08 {
  flex: 1;
  width: auto;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
}
.home-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: 260px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text13 {
  height: auto;
  font-size: 20px;
  align-self: center;
  text-align: center;
}
