<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="developer.css">
    <link rel="stylesheet" href="manage.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Dashboard</title>
</head>
<body>
    <section class="header">
        <div class="logo">
            <i class="ri-menu-line icon icon-0 menu"></i>
            <h2>Scra<span>Pius</span></h2>
        </div>
        <div class="search--notification--profile">
            <!--<div class="search">
                <input type="text" placeholder="Search Scdule..">
                <button><i class="ri-search-2-line"></i></button>
            </div>-->
            <div class="notification--profile">
                <!--<div class="dark--theme--btn">
                    <i class="ri-moon-line moon"></i>
                    <i class="ri-sun-line sun"></i>
                </div>-->
                <div class="picon bell">
                    <i class="ri-notification-2-line"></i>
                </div>
                <div class="picon chat">
                    <i class="ri-wechat-2-line"></i>
                </div>
                <div class="picon profile">
                    {{ url_for('static', filename='img/profile-icon.png') }}
                </div>
            </div>
        </div>
    </section>
    <section class="main">
        <div class="sidebar">
            <ul class="sidebar--items">
                <li>
                    <a href="#" >
                        <span class="icon icon-1"><i class="ri-layout-grid-line"></i></span>
                        <span class="sidebar--item">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#" id="active--link">
                        <span class="icon icon-2"><i class="ri-code-box-line"></i></span>
                        <span class="sidebar--item">Developers</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon icon-3"><i class="ri-tools-fill"></i></span>
                        <span class="sidebar--item" style="white-space: nowrap;">Testing Tool</span>
                    </a>
                </li>
                
                <li>
                    <a href="#">
                        <span class="icon icon-5"><i class="ri-settings-3-line"></i></span>
                        <span class="sidebar--item">Settings</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon icon-7"><i class="ri-user-settings-line"></i></span>
                        <span class="sidebar--item">Manage Site</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon icon-6"><i class="ri-account-circle-line"></i></span>
                        <span class="sidebar--item">Account</span>
                    </a>
                </li>
                
            </ul>
            <ul class="sidebar--bottom-items">
                <li>
                    <a href="#">
                        <span class="icon icon-8"><i class="ri-logout-box-r-line"></i></span>
                        <span class="sidebar--item">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        
        <div class="main--content">
            
            <div class="container">
                <h1>Hi, I'm Sarishti Gupta</h1>
                <h3>Frontend Developer</h3>
                <p>I'm a dedicated front-end developer with a passion for turning ideas into captivating digital realities. My journey in web development has been a fusion of creativity and coding, where I specialize in transforming design concepts into interactive and user-focused websites. Proficient in HTML, CSS, and JavaScript, I leverage my expertise to build seamless, cross-browser experiences.</p>
                <div class="home-sci">
                
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                    <a href="#"><i class='bx bxl-linkedin' ></i></a>
                </div>
            </div>
            <div class="home-img">
                <div class="glowing-circle">
                    <span></span>
                    <span></span>
                    <div class="image">
                        <img src="home.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="main--content2">
            
            <div class="container2">
                <h1>Hi, I'm Nikhil Kumar Gupta</h1>
                <h3>Frontend Developer</h3>
                <p>I'm a dedicated front-end developer with a passion for turning ideas into captivating digital realities. My journey in web development has been a fusion of creativity and coding, where I specialize in transforming design concepts into interactive and user-focused websites. Proficient in HTML, CSS, and JavaScript, I leverage my expertise to build seamless, cross-browser experiences.</p>
                <div class="home-sci2">
                
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                    <a href="#"><i class='bx bxl-linkedin' ></i></a>
                </div>
            </div>
            <div class="home-img2">
                <div class="glowing-circle2">
                    <span></span>
                    <span></span>
                    <div class="image2">
                        <img src="home1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="main--content3">
            
            <div class="container3">
                <h1>Hi, I'm Shalini Yadav</h1>
                <h3>Frontend Developer</h3>
                <p>I'm a dedicated front-end developer with a passion for turning ideas into captivating digital realities. My journey in web development has been a fusion of creativity and coding, where I specialize in transforming design concepts into interactive and user-focused websites. Proficient in HTML, CSS, and JavaScript, I leverage my expertise to build seamless, cross-browser experiences.</p>
                <div class="home-sci3">
                
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                    <a href="#"><i class='bx bxl-linkedin' ></i></a>
                </div>
            </div>
            <div class="home-img3">
                <div class="glowing-circle3">
                    <span></span>
                    <span></span>
                    <div class="image3">
                        <img src="home3.png" alt="">
                    </div>
                </div>
            </div>
        </div>-->


        
        
       
    </section>
    
</body>
</html>