<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
<div id="parentContainer" class="home-container1">
      <div id="fixedSideBar" class="home-container2">
        <div class="home-container3"><h1 class="home-text">Scrapius</h1></div>
        <div class="home-container4">
          <span class="home-text01">
            <span>Home</span>
            <br />
          </span>
        </div>
        <div class="home-container5">
          <span class="home-text04">
            <span>Manage Site</span>
            <br />
          </span>
        </div>
        <div class="home-container6">
          <span class="home-text07">
            <span>Scrap Site</span>
            <br />
          </span>
        </div>
        <div class="home-container7">
          <span class="home-text10">
            <span>Developers</span>
            <br />
          </span>
        </div>
      </div>
      <div class="home-container8">
        <span>
          Scrapius, a tool to add, delete and manage website to scrap.
        </span>
      </div>
    </div>


</body>
</html>