<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleext.css') }}">

</head>
<body>
<div id="parentContainer" class="home-container01">
      <div id="fixedSideBar" class="home-container02">
        <div class="home-container03"><h1 class="home-text" id="scrapHeading">Scrapius</h1></div>
          <a href="/" class="home-link">
              <div class="home-container04">
                  <span class="home-text01">
                    <span>Home</span>
                    <br />
                  </span>
                </div>
          </a>


       <a href="manageSite" class="home-link">
            <div class="home-container05">
              <span class="home-text04">
                <span>Manage Site</span>
                <br />
              </span>
            </div>
        </a>
        <div class="home-container06">
          <span class="home-text07">
            <span>Scrap Site</span>
            <br />
          </span>
        </div>
        <div class="home-container07">
          <span class="home-text10">
            <span>Developers</span>
            <br />
          </span>
        </div>
      </div>
      <div class="home-container08">
          <div class="banner_image_div">
             <img class="banner_image" src="{{ url_for('static', filename='css/img/3847762.jpg') }}" alt="Image">
            </div>

          <div class="page-mngcardtop">
            <h1 class="page-text">
              <span>Add new site</span>
              <br />
            </h1>
              <form id="myAddSiteForm" method="POST" action="submit">
                  <input type="text" required placeholder="Enter Website Url" class="page-textinput input" id="siteBox" name="siteBox"/>
                  <textarea placeholder="Type your Schema" class="page-textarea textarea" id="schemaBox" name="schemaBox" required></textarea>
                  <div class="page-mngcarbtndiv">
                      <span>
                        <span>Clear</span>
                        <br />
                      </span>
                      <button type="submit" class="page-button button">
                        <span>
                          <span>Submit</span>
                          <br />
                        </span>
                      </button>
                    </div>
              </form>


      </div>
          <div class="page-mngcardtop2">
          <div class="expand_list_parent" onclick="toggleExpand()">
            <div class="expand_list_label">Click to Expand</div>
            <div class="expand_list_content" id="expandableContent">
              <p>
                This is the content inside the expandable div. It will expand on click.
              </p>
            </div>
          </div>

          </div>



      </div>
    </div>

<script>
    function toggleExpand() {
      var content = document.getElementById("expandableContent");
      if (content.style.height === "0px" || content.style.height === "") {
        content.style.height = content.scrollHeight + "px";
        content.style.opacity = 1;
      } else {
        content.style.height = "0px";
        content.style.opacity = 0;
      }
    }
</script>
</body>
</html>