<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Site</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manage.css') }}">
</head>
<body>
    <div class="container">
        <div class="content site">
            <h2>Manage Site</h2>

            <form action="/addSite" method="post" id="myAddSiteForm">
            <div class="input-box"></div>
                <div class="url">
                    <label for="url">URL </label><br>
                    <input type="url" placeholder="Enter URL" name="url" id="url">
                </div>
                <div class="tag1">
                    <label for="tag">Choose a tag:</label><br>
                    <select id="tag" name="tag">
                    <option value="parent">Parent Tag</option>
                    <option value="heading">Heading Tag</option>
                    <option value="image">Image Tag</option>
                    <option value="link">Link Tag</option>
                    </select>
                    <input type="text" placeholder="Enter schema" id="tag1" name="parent">
                </div>
                
                <div class="tag2">
                    <label for="tag">Choose a tag:</label><br>
                    <select id="tag" name="tag">
                    <option value="parent" >Parent Tag</option>
                    <option value="heading">Heading Tag</option>
                    <option value="image">Image Tag</option>
                    <option value="link">Link Tag</option>
                    </select>
                    <input type="text" placeholder="Enter schema" id="tag2" name="heading">
                </div>
                
                <div class="tag3">
                    <label for="tag">Choose a tag:</label><br>
                    <select id="tag" name="tag">
                    <option value="parent">Parent Tag</option>
                    <option value="heading">Heading Tag</option>
                    <option value="image">Image Tag</option>
                    <option value="link">Link Tag</option>
                    </select>
                    <input type="text" placeholder="Enter schema" id="tag3" name="link">
                </div>
                
                <div class="btn">
                    <button type="button" id="siteAddButton">Add Site</button>
                    <input type="button" value="TEST">
                </div>    
            </form>
        </div>
    </div>
    <script>
        // Attach a click event handler to the custom button
        document.getElementById("siteAddButton").addEventListener("click", function() {
            // Get the form element by its ID
            var form = document.getElementById("myAddSiteForm");
            // Programmatically submit the form
            form.submit();
        });
    </script>
</body>
</html>