<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#    <link rel="stylesheet" href="test.css">#}
{#    <link rel="stylesheet" href="test.css">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">


    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <title>Dashboard</title>
</head>
<body>
    <section class="header">
        <div class="logo">
            <i class="ri-menu-line icon icon-0 menu"></i>
            <h2>Scra<span>Pius</span></h2>
        </div>
        <div class="search--notification--profile">
         
            <div class="notification--profile">
            
                <div class="picon bell">
                    <i class="ri-notification-2-line"></i>
                </div>
                <div class="picon chat">
                    <i class="ri-wechat-2-line"></i>
                </div>
                <div class="picon profile">
                    <img src="{{ url_for('static', filename='img/profile-icon.png') }}">
                </div>
            </div>
        </div>
    </section>
    <section class="main">
        <div class="sidebar">
            <ul class="sidebar--items">
                <li>
                    <a href="#" >
                        <span class="icon icon-1"><i class="ri-layout-grid-line"></i></span>
                        <span class="sidebar--item">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon icon-2"><i class="ri-code-box-line"></i></span>
                        <span class="sidebar--item">Developers</span>
                    </a>
                </li>
                <li>
                    <a href="#" id="active--link">
                        <span class="icon icon-3"><i class="ri-tools-fill"></i></span>
                        <span class="sidebar--item" style="white-space: nowrap;">Testing Tool</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon icon-5"><i class="ri-settings-3-line"></i></span>
                        <span class="sidebar--item">Settings</span>
                    </a>
                </li>
            
                <li>
                    <a href="#">
                        <span class="icon icon-7"><i class="ri-user-settings-line"></i></span>
                        <span class="sidebar--item">Manage Site</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon icon-6"><i class="ri-account-circle-line"></i></span>
                        <span class="sidebar--item">Account</span>
                    </a>
                </li>
            </ul>
            <ul class="sidebar--bottom-items">
                <li>
                    <a href="#">
                        <span class="icon icon-8"><i class="ri-logout-box-r-line"></i></span>
                        <span class="sidebar--item">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        
        <div class="main--content">
            <div class="wrapper">
                <div class="form-box login">
                    <h2><u>Testing Tool</u></h2>
                    <form action="#" method="post">
                        <div class="input-box">
                            <input type="text" required>
                            <label>Parent Tag</label>
                        </div>
                        <div class="input-box">
                            <input type="text" required>
                            <label>Heading Tag</label>
                        </div>
                        <div class="input-box">
                            <input type="text" required>
                            <label>Link Tag</label>
                        </div>
                        <div class="input-box">
                            <input type="text" required>
                            <label>Image Tag</label>
                        </div>
                        <button type="button" class="btn">Test/Verify</button>
                       
                    </form>
                </div>
            
            </div>
        </div>
    
</body>
</html>